#confirm {
  display: none;
  border-style: dashed;
  margin-top: 200px;
  width: 45%;
  margin: auto;
  padding: 20px;
}

.container h1 {
  text-align: center;
  font-size: 4em;
  color: #4e8c90;
  font-family: "Arial Rounded";
}

button.btn {
  width: 14em;
  margin-left: 45%;
  color: #000;
  margin-top: 20px;
  margin-bottom: 20px;
}


h2 {
  text-align: center;
}
